.PresentationTitle{
   text-align: right;
   margin:15px 35px 10px 0;
   padding-right: 8px;
   border-right: 3px solid var(--accent-color);
}

@media (max-width: 500px) {
   .PresentationTitle {
      font-size: 1.3rem;
   }
}