.Showcase {
   min-height: 94vh;
   background-image: url("../../assets/images/background.jpg");
}

.Container {
   display: grid;
   grid-template-columns: 60% 40%;
   min-height: 94vh;
   padding: 20px 80px;
   align-items: center;
   justify-content: center;
   background-color: rgba(0,0,0,0.7);
}

@media (max-width: 1280px) {
   .Container {
      grid-template-columns: 100%;
      padding: 20px;
   }
}
