.container{
   min-height: 94vh;
   background-color: var(--primary-color-20);
}

.Shop {
   padding: 30px 100px;
   display: grid;
   grid-template-columns: repeat(5,1fr);
}

.ModalText{
   color: var(--dark)
}

.Title {
   color: var(--dark);
   padding: 8px;
   border-bottom: 1px solid var(--primary-color-70);
   text-align: center;
   margin: 0 36px;
   font-size: 1.2rem;
}

@media (max-width: 1560px) {
   .Shop {
      grid-template-columns: repeat(4,1fr);
      padding: 30px 80px;
   }
}

@media (max-width: 1280px) {
   .Shop {
      grid-template-columns: repeat(3,1fr);
      padding: 30px 60px;
   }
}
@media (max-width: 1000px) {
   .Shop {
      grid-template-columns: repeat(2,1fr);
      padding: 30px 40px;
   }
}
@media (max-width: 720px) {
   .Shop {
      grid-template-columns: repeat(1,1fr);
      padding: 20px;
   }
}
