body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #49beb7;
  --primary-color-70: #49beb7b2;
  --primary-color-20: #49beb730;
  --accent-color: #facf5a;
  --accent-color-70: #facf5ab2;
  --accent-color-40: #facf5ab2;
  --secondary-color: #ff5959;
  --secondary-color-dark: #9e2b2b;
  --secondary-color-90: #923434e5;
  --secondary-color-70: #923434b2;
  --secondary-color-40: #ff595970;
  --dark-color: #085f63;
  --dark-color-70: #085f63b2;
  --dark-color-40: #085f6370;
  --white: #eeeeee;
  --white-70: #eeeeee9f;
  --black: #111;

}

a {
  text-decoration: none;
  color: black;
}