.Presentation {
   background-color: var(--dark-color-70);
   padding: 15px;
   border-radius: 15px;
   color:var(--white);
   margin:15px;
}


@media (max-width: 500px) {
   .Presentation {
      margin: 8px 0px;
      padding: 12px 4px;
   }
}

